.banner{
  background-image: url('banner.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
  height: 700px;

}

.cards{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 10px;


}

.NavLink{
  text-decoration: none;
  color:white
}

.Navbar{
  background-color: black;
  color: white;
}

.grid{
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}